<div class="container-profile">
    <div class="notification">
        <h1>Notification</h1>
    </div>
    <div class="student-permission information">
        <div>
            <i class="pi pi-list-check"></i>
            <p>Student permission</p>
        </div>
        <div>
            <i class="pi pi-exclamation-circle"></i>
        </div>
    </div>
    <div class="student-grievance information">
        <div>
            <i class="pi pi-briefcase"></i>
            <p>Student Grievance</p>
        </div>
        <div>
            <i class="pi pi-exclamation-circle"></i>
        </div>
    </div>
</div>

<div class="profile">
    <div>
        <img [src]="image" alt="">
    </div>
    <div>
        <p>SOK SOVVAN</p>
        <P>University Student</P>
    </div>
</div>

<div class="your-information">
    <div class="informations">
        <h2>Your Information</h2>
    </div>
    <div>
        <p>Official ID (0005409)</p>
        <p>Sex (M)</p>
        <p>Date of Birth (20-Nov-2003)</p>
        <p>Phone ( +855 977757846 )</p>
    </div>
</div>
<div class="change-password">
    <div>
        <button (click)="showDialog()">
            <i class="pi pi-key"></i>
            Change Password
        </button>
    </div>
</div>

<div class="card flex justify-content-center">
    <p-dialog header="Change Password" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
        <!-- <span class="p-text-secondary block mb-5">Update your information.</span> -->
        <div style="padding: 30px;">
            <div class="flex align-items-center gap-3 mb-3">
                 <label for="username" class="font-semibold w-6rem">Username</label>
                 <input pInputText id="username" class="flex-auto" autocomplete="off" />
            </div>
            <div class="flex align-items-center gap-3 mb-5">
                <label for="email" class="font-semibold w-6rem">Email</label    >
                <input pInputText id="email" class="flex-auto" autocomplete="off" />
            </div>
            <div class="flex justify-content-end gap-2">
                <p-button label="Cancel" severity="secondary" (onClick)="visible = false" />
                <p-button label="Save" (click)="visible = false" />
            </div>
        </div>
    </p-dialog>
</div>
