<div class="container-profile">
    <div class="notification">
        <h1>Notification</h1>
    </div>
    <div class="student-permission information">
        <div>
            <i class="pi pi-list-check"></i>
            <p>Student permission</p>
        </div>
        <div>
            <i class="pi pi-exclamation-circle"></i>
        </div>
    </div>
    <div class="student-grievance information">
        <div>
            <i class="pi pi-briefcase"></i>
            <p>Student Grievance</p>
        </div>
        <div>
            <i class="pi pi-exclamation-circle"></i>
        </div>
    </div>
</div>


<div class="profile">
    <div>
        <img [src]="image" alt="">
    </div>
    <div>
        <p>SOK SOVVAN</p>
        <P>University Student</P>
    </div>  
</div>

<div class="your-information">
    <div class="informations">
        <h2>Your Information</h2>
    </div>
    <div>
        <p>Official ID (0005409)</p>
        <p>Sex (M)</p>
        <p>Date of Birth (20-Nov-2003)</p>
        <p>Phone ( +855 977757846 )</p>
    </div>
</div>
<div class="change-password">
    <div>
        <button>
            <i class="pi pi-key"></i>
            Change Password</button>
    </div>
</div>

