<nav class="left-menu sidenav">
    <div>
        <ul>
            <li routerLink="/layout/major" routerLinkActive="active"><i class="pi pi-book"></i><a>My Major</a></li>
            <li routerLink="/layout/courses" routerLinkActive="active"><i class="pi pi-address-book"></i><a>My Courses</a></li>
            <li routerLink="/layout/grades" routerLinkActive="active"><i class="pi pi-chart-bar"></i><a>My Grades</a></li>
            <li routerLink="/layout/library" routerLinkActive="active"><i class="pi pi-book"></i><a>My Library</a></li>
            <li routerLink="/layout/experience" routerLinkActive="active"><i class="pi pi-briefcase"></i><a>Work Experience</a></li>
            <li routerLink="/layout/requests" routerLinkActive="active"><i class="pi pi-pen-to-square"></i><a>Requests</a></li>
            <li routerLink="/layout/achievement" routerLinkActive="active"><i class="pi pi-trophy"></i><a>My Achievement</a></li>
        </ul>
    </div>
</nav>
